<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
Language: <a href="?lang=en">English</a> | <a href="?lang=vi">Tieng Viet</a>
<hr>
<a href="/create-customer" th:text="#{Customers.title.newCustomer}"></a>
<h1 th:text="#{Customers.title}"></h1>
<table border="1">
    <tr>
        <th th:text="#{Customers.table.firstName}"></th>
        <th th:text="#{Customers.table.lastName}"></th>
        <th th:text="#{Customers.table.province}"></th>
        <th th:text="#{Customers.table.edit}"></th>
        <th th:text="#{Customers.table.delete}">Delete</th>
    </tr>
    <th:block th:each="customer : ${customers}">
        <tr>
            <td th:text="${customer.firstName}"></td>
            <td th:text="${customer.lastName}"></td>
            <td th:if="${customer.province}" th:text="${customer.province.name}"></td>
            <td th:unless="${customer.province}"></td>
            <td><a th:href="@{/edit-customer/__${customer.id}__ }" th:text="#{Customers.table.edit}"></a></td>
            <td><a th:href="@{/delete-customer/__${customer.id}__ }" th:text="#{Customers.table.delete}"></a></td>
        </tr>
    </th:block>
</table>
</body>
</html>
