<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit phone</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript">
        function updateSmartPhone() {
            //lay du lieu
            let id = $('#id').val();
            let producer = $('#producer').val();
            let model = $('#model').val();
            let price = $('#price').val();
            let smartphone = {
                id: id,
                producer: producer,
                model: model,
                price: price
            };
            // goi ajax
            $.ajax({
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                type: "PUT",
                data: JSON.stringify(smartphone),
                //tên API
                url: "/smartphones/update",
                //xử lý khi thành công
                success: function (){
                    document.getElementById(
                        'message'
                    ).innerHTML="Update successful";
                }

            });
            //chặn sự kiện mặc định của thẻ
            event.preventDefault();
        }

    </script>
</head>
<body>
<h1>Edit phone</h1>
<p>
    <a href="/smartphones/list">Phones list</a>
</p>
<p id="message"></p>
<form th:object="${smartphone}">
    <input th:type="hidden" id="id" th:field="*{id}">
    <table>
        <tr>
            <td>Producer :</td>
            <td><input type="text" id="producer" th:field="*{producer}"/></td>
        </tr>
        <tr>
            <td>Model :</td>
            <td><input type="text" id="model" th:field="*{model}"/></td>
        </tr>
        <tr>
            <td>Model :</td>
            <td><input type="text" id="price" th:field="*{price}"/></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Update customer" onclick="updateSmartPhone()"></td>
        </tr>
    </table>
</form>
</body>
</html>