<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>posts</h1>
<a href="/">Back to list posts</a>
<form action="/create-post" method="post" th:object="${post}">
    <table border="1">
        <tr>
            <th>Title name</th>
            <td><input type="text" th:field="*{title}"></td>
        </tr>

        <tr>
            <td>Categories:</td>
            <td>
                <select th:field="*{category}">
                    <option th:each="p : ${categories}" th:value="${p.id}" th:text="${p.name}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <th>Content</th>
            <td><textarea th:field="*{content}"></textarea></td>
        </tr>


    </table>
    <input type="submit" value="Create">
</form>
</body>
</html>