<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit post</title>
</head>
<body>
<h1>Edit post</h1>
<p>
    <a href="/">post list</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/edit-post}" th:object="${post}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td>Title</td>
            <td><input type="text" th:field="*{title}"/></td>
        </tr>
        <tr>
            <td>Category:</td>
            <td>
                <select th:field="*{category}">
                    <option th:each="p : ${categories}"
                            th:value="${p.id}"
                            th:text="${p.name}"
                            th:selected="(${post.category}) and (${p.id} == *{category.id})"></option>
                </select>
            </td>
        </tr>
        <tr>
            <th>Date Create</th>
            <td><input type="text" th:field="*{date}" disabled></td>
        </tr>
        <tr>
            <th>Content</th>
            <td><textarea th:field="*{content}"></textarea></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Update post"></td>
        </tr>
    </table>
</form>
</body>
</html>